*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: #333;
}
