*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

a,
button {
    font: inherit;
    color: inherit;
}

.wrapper {
    width: 120rem;
    margin: 0 auto;
}
